@charset "UTF-8";

.wrapper{
    width: 100%;
}

.main{
    width: 100%;
}

@media screen and (max-width: 768px) {
/* SP style */
}

@media screen and (min-width: 769px) {
/* PC style */

.head_menu {
 width: 100%;
 display: flex;
 justify-content: space-around;
 margin: auto;
 list-style: none;
 font-family: 'Anton';
 font-size: 20px;
 color: aliceblue;
}

.head_menu_content{
    margin-right: 30px;
}

.sns {
    display: flex; 
    margin: auto;
    list-style: none;
    background-color: black;
}

.sns_icon{margin-right: 5px;}

.pc_menu {
    width: 100%;
    height: 110px;
    display: flex; 
    position:fixed;
    z-index: 1;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: black;
}

.head_visual{
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url("../images/AdobeStock_123555365.jpeg");
    object-fit: cover;
    background-size: cover;
}

.catch_copy{
 font-family: 'Anton';
 font-size: 50px;
 color: aliceblue;
 position: absolute;
 text-align: center;
 margin: 30%  30%  30%  30%;
}

.concept{
    height: 400px;
    padding: 100px;
    background-color:black;
}

.concept_text{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.menu{
    width: 100%;
}

.menu_contents--1,
.menu_contents--2,
.menu_contents--3,
.menu_contents--4
{   width: 100%;
    height: 500px;
    display: flex;
}

.menu_contents_image1,
.menu_contents_image3 
{   width: 50%;
    height: 500px;
    object-fit: cover;
}

.menu_contents_image2,
.menu_contents_image4
{   width: 50%;
    height: 500px;
    object-fit: cover;
    order: 3;
}

.menu_contents_image1 img,
.menu_contents_image2 img,
.menu_contents_image3 img,
.menu_contents_image4 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.menu_contents_text{
    width: 50%;
    height: 500px;
    box-sizing: border-box;
    text-align: center;
}

}

