@charset "UTF-8";

/* 共通 */
.wrapper{
width: 100%;
}

.main{
    width: 100%;
}


/* フッター --共通-- */

.credit{
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #333;
    padding: 40px;
}

.credit h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: #fff;
    line-height: 6rem;
}


@media screen and (max-width: 768px) {
/* SP style */

.pc{display: none;}

.sp_menu{
    width: 100%;
    height: 50px;
    position: fixed;
    display: block;
    background-color: #333;
    z-index: 100;
    padding: 10px;
    transition: top 0.3s ease-in-out;
}

/* アクセシビリティ対策 */
.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  /* ハンバーガーボタンのスタイル */
  .hamburger {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    height: 32px;
    outline: none;
    position: fixed;
    right: 30px;
    top: 30px;
    transition: transform .6s, width .6s;
    width: 40px;
    z-index: 200; /* メニューが開いてもハンバーガーボタンが上に表示されるように */
  }
  /* ハンバーガーメニュー三本線 */
  .hamburger-line {
    background-color: #FFF;
    height: 2px;
    margin-right:  10px;
    margin-top: 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    width: 30px;
  }
  .hamburger-line::before,
  .hamburger-line::after {
    background-color: #FFF;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: inherit;
    width: 100%;
  }
  .hamburger-line::before {
    top: 15px;
  }


  /* ハンバーガーメニュー三本線オープン時 */
  .sp_menu[aria-expanded="true"] .hamburger-line {
    transform: translateY(14px) rotate(-45deg);
    transition: all 0.3s ease-in-out; /* 線のアニメーション */
  }
  .sp_menu[aria-expanded="true"] .hamburger-line::before {
    transform: translateY(-14px) translateX(18px) rotate(45deg);
    transition: all 0.3s ease-in-out; /* 線のアニメーション */
    width: 0;
  }
  .sp_menu[aria-expanded="true"] .hamburger-line::after {
    transform: translateY(0px) rotate(90deg);
    transition: all 0.3s ease-in-out; /* 線のアニメーション */
  }
  /* オーバーレイのスタイル */
  .overlay {
    background-color: #333;
    cursor: pointer;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .6s, visibility .6s;
    visibility: hidden;
    width: 100vw;
    z-index: 10;
  }
  .overlay.active {
    opacity: .8;
    visibility: visible;
  }
  /* メニューのスタイル */

  .modal-container {
    height: 100%;
    position: fixed;
    top: -100%;
    margin-left: 30%;
    transition: top .6s ease-in-out;
    width: 100%;
    z-index: 20; /* オーバーレイよりも上に */
  }

  .modal-container[aria-hidden="false"] {
    overflow-y: scroll;
    top: 0;
    transition: top .6s ease-in-out;
  }

.hamburger_menu{
    width: 100%;
    height: 100vh;
    background-color:#000;
    z-index: 99;
    padding-top: 100px;
    display: flex;
    flex-flow: column;
}

.head_menu_content{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    margin-top: 3%;
    line-height: 300%;
}

  /* メニューのスタイル */

.head_visual{
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url("../images/AdobeStock_123555365.jpeg");
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catch_copy{
 font-family: 'Anton';
 font-size: 300%;
 color: aliceblue;
 position: absolute;
 text-align: center;
}

.catch_copy{
    animation: catch_copy 2s ;
}

@keyframes  catch_copy{
    0% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(0);
    }
  }

.concept{
    width: 100%;
    height: 350px;
    padding-top: 50px;
    background-color:#333;
}

.concept_text{
    width: 100%;
    height: 200px;
    font-size: 80%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    line-height: 2.4em;
}

/* サービス紹介 */

.menu_contents_1,
.menu_contents_2,
.menu_contents_3,
.menu_contents_4
{   width: 100%;
    box-sizing: border-box;
}

.menu_contents_image1 img,
.menu_contents_image2 img,
.menu_contents_image3 img,
.menu_contents_image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_contents_text{
   padding-top: 15px;
   padding-bottom: 40px;
   text-align: center;
}

.menu_contents_text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 100%;
    margin-top: 20px;
}

.menu_contents_text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 200%;
    margin-top: 20px;
}

.menu_contents_text p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    padding: 30px;
}

.menu_contents_text a{
    width: 150px;
    height: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color:rgb(255, 148, 66);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}


/* フェードインCSS-SP*/

.menu_contents_image{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 500ms; /* フェードインにかかる時間を指定 */
}

.contents_h1{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.contents_h2{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.contents_text{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.view_button{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 900ms; /* フェードインにかかる時間を指定 */
}


.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
}



/* 地域活動　ニュース */

.news{
    background-color: #333;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.news h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
}

.slide{
    width: 80%;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
}

  .slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0);
  }
  .slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
  }
  .slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
  }

.news_contents{
    width: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: 1s ;
}

.news_item_link{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
    border: solid 1px #888;
}

.news_item_image{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
}

.news_item_link img{
    width: 100%;
    object-fit: cover;
}

.news_item_text h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.news_item_text h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
}

/* ↓ 左右のボタン */
.prev {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15%;
    bottom: 67%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}

.next {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 6%;
    bottom: 67%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}

}

@media screen and (min-width: 769px) {
/* PC style */

.sp{display: none;}

/* メニューバー */
.head_menu {
 width: 100%;
 display: flex;
 justify-content: space-around;
 margin: auto;
 list-style: none;
 font-family: 'Anton';
 font-size: 20px;
 color: aliceblue;
}

.head_menu_content{
    margin-right: 30px;
}

.head_menu_content:hover {
    color: rgb(0, 161, 126);
    transition: 0.5s;
}

.sns {
    display: flex;
    margin: auto;
    list-style: none;
}

.sns_icon{margin-right: 5px;}

.pc_menu {
    width: 100%;
    height: 110px;
    display: flex;
    position:fixed;
    z-index: 100;
    box-sizing: border-box;
    justify-content: space-around;
    background: linear-gradient(180deg, #555,#333);
    transition: top 0.3s ease-in-out;
}

/* PC版メインビジュアル */

.head_visual{
    width: 100%;
    height: 750px;
    position: relative;
    background-image: url("../images/AdobeStock_123555365.jpeg");
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.catch_copy{
 font-family: 'Anton';
 font-size: 100px;
 color: aliceblue;
 position: absolute;
 text-align: center;
}

.catch_copy{
    animation: catch_copy 2s ;
}

@keyframes  catch_copy{
    0% {
    transform: translateY(-400px);
    }
    100% {
    transform: translateY(0);
    }
    }

.concept{
    height: 40%;
    padding: 80px;
    background-color:#333;
}

.concept_text{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    line-height: 2.4em;
}

/* サービス紹介 */

.menu{
    width: 100%;
}

.menu_contents_1,
.menu_contents_2,
.menu_contents_3,
.menu_contents_4
{   width: 100%;
    height: 600px;
    display: flex;
    box-sizing: border-box;
}

.menu_contents_2
{background-color: #333;
color: #FFF;
}

.menu_contents_4{
background-color:#dbdbdb;
color: #000;
}

.menu_contents_image1,
.menu_contents_image3
{   width: 50%;
    height: 600px;
    object-fit: cover;
}

.menu_contents_image2,
.menu_contents_image4
{   width: 50%;
    height: 600px;
    object-fit: cover;
    order: 3;
}

.menu_contents_image1 img,
.menu_contents_image2 img,
.menu_contents_image3 img,
.menu_contents_image4 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.menu_contents_text{
    width: 50%;
    height: 600px;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
}

.menu_contents_text h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-top: 20px;
}

.menu_contents_text h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin-top: 20px;
}

.menu_contents_text p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 30px;
}


.menu_contents_text a{
    width: 150px;
    height: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(255, 148, 66);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
}

/* フェードインCSS  PC */

.contents_h2{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.contents_h3{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 800ms; /* フェードインにかかる時間を指定 */
}

.contents_text{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.contents_text{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.view_button{
    opacity: 0;
    transform: translate(0, 100px); /* フェードインで動く高さを指定 */
    transition: all 900ms; /* フェードインにかかる時間を指定 */
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
  }

/* 地域活動　ニュース */

.news{
    background-color: #333;
    text-align: center;
    align-items: center;
    padding: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.news h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin-top: 20px;
    color: #FFF;
}

.news_contents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.news_item_link{
    width: 45%;
    height: 500px;
    margin-right:30px;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    border:solid 1px #888;
}

.news_item_link img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    box-sizing: border-box;
}

.news_item_text{
    padding: 15px;
    text-align: left;
    color: #000;
}

.news_item_text:hover{
    color: rgb(255, 148, 66);
}


.news_item_text h2{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 80%;
    line-height: 1.5rem;
}

.news_item_text h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000;
}

.news_item_text h2:hover{
    color: rgb(255, 148, 66);
}






}

